
.sondeAisNearest .infoRow,.userAisSelected .infoRow {
      text-align: left;
}
.sondeAisNearest .label,.userAisSelected .label{
     width: 6em;
}

.sondeAisPredict button.predict {
    font-size: 1em;
    padding: 10px;
    border-radius: 8px;
}

#aisSondeFrameWrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background: #383232c7;
    padding: 1em;
    justify-content: center;
    display: none;
}    
#aisSondeFrame {
        overflow: auto;
        white-space: pre;
        background: white;
        padding: 1em;
}
#aisSondeFrameWrapper.visible{
    display: flex;
}     